# SFS-DBAAS

{{ template "chart.versionBadge" . }}

{{ template "chart.description" . }}

Databases are managed by [CloudNativePG](https://cloudnative-pg.io/), which runs on the
virtualization cluster of each AZ. Each database is a `Cluster` in the project's namespace, made of
one primary and zero or more streaming replicas.

> [!important]
> This chart assumes the CloudNativePG operator and its CRDs are already installed on the target
> cluster. Installing them is **not** part of this chart, and is not yet wired into
> `superphenix-system` either.

### Resource names

Resources have a unique ID (see [this](#creating-a-new-resource)) and a name.

Names do not have to be unique across resources and can be identical. They are simply used as a tag to be filtered and found more easily.

To set a name on a resource, use the `.name` value.

> [!note]
> Names **must** begin with a letter or number, and may contain letters, numbers, hyphens, dots, and underscores, up to 63 characters each.

### Setting a resource location

Resources are located within a specific AZ (or *availability zone*). AZs are represented by a unique code.

To deploy your resource in a specific AZ, simply use the code in the `.location` value of the resource.

### Documentation

- [Creating a database](docs/user/create.md)
- [Connecting to a database](docs/user/connect.md)
- [Resizing and scaling](docs/user/scale.md)
- [Exposing a database](docs/user/expose.md)

---
{{ template "chart.valuesSectionHtml" . }}
